
#profile{
  margin:auto;
  margin-top:100px;
  margin-bottom:50px;
  width:50%;
}

  .student-profile .card {
    border-radius: 10px;
   
  }
  
  .student-profile .card .card-header .profile_img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
  }
  
  .student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .student-profile .card p {
    font-size: 16px;
    color: #000;
  }
  
  .student-profile .table th,
  .student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
  }